body {
  margin: 0;
  background-color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 768px) { /* use the max to specify at each container level */
  .specifictd {    
      width:360px;  /* adjust to desired wrapping */
      display:table;
      white-space: pre-wrap; /* css-3 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.height{

  height: 10vh;
}

.form{
  position: relative;
}

.form .fa-search{

  position: absolute;
  top:20px;
  left: 20px;
  color: #505050;

}

.form span{

  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;

}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
 
 padding-left: 10px;
}

.form-input{

  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus{

  /* box-shadow: none; */
  border:none;
}
.not-found{
  text-align: center;
  position: absolute;
  /* padding: 20px; */
}
.table-dark-custom{
  background-color: #000000;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}
.form-label{
  /* text-decoration: white; */
  color: #ffffff;
  /* text-emphasis-color: rgb(229, 157, 157); */
  /* background-color: rgb(253, 253, 253); */
  /* border-bottom-left-radius: 30px;   */
  border-radius: 5px;
  /* border-top-right-radius: 10px; */
  /* border: 1px solid rgb(255, 255, 255);  */
  
}
.form-label:hover{
  color: #d1d5db;
}
/* .container { 
  border: 1px solid black; 
  width: 300px; 
  height: 200px; 
  background-color: aqua;                              
  border-bottom-left-radius: 30px;   
}  */

.filler-container{
  background-color: rgb(0,0, 0);
  width: 100%;
  height: 30vh;
}
.link{
  color: white;
  text-decoration: none;
}
.link:hover{
  color: rgb(175, 175, 175);
  text-decoration: none;
}
.container-custom {
  display: inline-block;
}

.typed-out{
  overflow: hidden;
  border-right: .15em solid orange;
  text-decoration-color: white;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: 
    typing 1s steps(20, end) forwards,
    blink .8s infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.disabled-paragraph{
  pointer-events: none;
  text-decoration-color: aliceblue;
  background-color: rgb(212, 212, 212);
}